<div class="stocksearchtitle">STOCK SEARCH</div>
<div class="col-md-3 col-7 searchcontainer fullcontain">
<form>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Enter stock ticker symbol" 
    [matAutocomplete]="auto" matInput [formControl]="myControl" [(ngModel)]="searchValue">
    <button class="btn" type="button" id="searchBtn" (click)= "getDetails()">
      <i class="fas fa-search"></i>
    </button>
    <button class="btn" type="button" id="clearBtn" (click)= "clearInput()">
      <i class="fas fa-times"></i>
    </button> 
</div>
<mat-autocomplete #auto="matAutocomplete" [displayWith]="callDisplay">
    <mat-option *ngIf="showSpinner"><mat-spinner [diameter]="20" *ngIf="showSpinner" class="myspinner"></mat-spinner></mat-option>
    <mat-option *ngFor="let option of options" [value]="option">
        <span id="search-option-ticker">{{option.ticker}}</span> | <span id="search-option-name">{{option.name}}</span>
    </mat-option>
  </mat-autocomplete>
</form>
</div>