.container{
    padding: 1%;
}
.ptitle{
    font-size: 2em;
    margin-top: 3em;
    align-self: flex-start;
}
.walletBal{
    font-size: 1.3em;
}
.tick{
    font-size: 1.5em;
    font-weight: 500;
}
.cn{
    margin-left: 0.5em;
    color: rgba(0,0,0,0.6);
    font-size: 1.2em;
}
.card-container{
    padding-left: 1%;
}
.cdata{
    font-size: 1.2em;
    font-weight: 500;
}
i{
    margin-left: -0.8em;
}
.pcards{
    margin-bottom: 1em;
}
.alert{
    justify-content: center;
    font-size: 0.8em;
    margin-top: 1em;
}
.alert-warning{
    color: black;
}
.totalcost {
    float: left;
    font-size: 0.8em;
}

.popup-buy-button {
    float: right;
}

.modal-footer{
    border-radius: 5px;
    padding: 0 !important;
}
.buy-popup-footer {
    width: 1000px;
}

.buytitle {
    font-size: 0.8em;
    /* width: 380px; */
    margin-top: 1em;
    margin-left: 1em;
}

.quantity-label {
    margin-right: 5px;
    font-size: 0.8em;
}

#buyinp{
    font-size: 0.8em;
}

.buymodal{
    font-size: 0.8em;
}

.buyitems {
    margin-left: 1px;
    margin-bottom: 4px;
    font-size: 0.8em;
}
